<table >
    <tr>
        <th>External Course Id</th>
        <th>External Module Id</th>
        <th>Title</th>
        <th>Internal Path</th>
        <th>Type</th>
    </tr>
    {% for content in contents %}
        <tr>
            <td>{{ content.module.course.external_id }}</td>
            <td>{{ content.module.external_id }}</td>
            <td>{{ content.title }}</td>
            <td>{{ content.internal_path }}</td>
            <td>{{ content.type }}</td>
        </tr>
    {% endfor %}
</table>