<table >
    <tr>
        <th>Id</th>
        <th>External Course Id</th>
        <th>External Module Id</th>
        <th>Title</th>
        <th>Link</th>
        <th>Type Extracted</th>
        <th>Type Cleaned</th>
        <th>Type</th>
    </tr>
    {% for module in modules %}
        <tr>
            <td>{{ module.id }}</td>
            <td>{{ module.course.external_id }}</td>
            <td>{{ module.external_id }}</td>
            <td>{{ module.title }}</td>
            <td>{{ module.link }}</td>
            <td>{{ module.type_extracted }}</td>
            <td>{{ module.type_cleaned }}</td>
            <td>{{ module.type }}</td>
        </tr>
    {% endfor %}
</table>